{% extends 'base.html' %}
{% block content %}
<h1>Strategy Details</h1>
<h2>{{ strategy.strategy_name }}</h2>
<p>{{ strategy.strategy_text }}</p>

<h3>Youtube Content</h3>
<ul>
    {% for content in youtube_content %}
        <li>Title: {{ content.video_title }}</li>
        <li>Content: <a href="{{content.youtube_content}}"><button class="btn btn-primary" type="button">Youtube Content</button> </a></li>
    {% endfor %}
</ul>

<h3>Spotify Content</h3>
<ul>
    {% for content in spotify_content %}
        <li>Title: {{ content.podcast_title }} </li>
        <li>Content: <a href="{{content.podcast_content}}"><button class="btn btn-primary" type="button">Spotify Content</button> </a></li>
    {% endfor %}
</ul>
{% endblock %}